{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}

{% block content %} 

<main class="page-main">
    <div class="uk-grid" data-uk-grid>
        <div class="uk-width-2-3@l">
            <div class="widjet --profile">
                <div class="widjet__head">
                    <h3 class="uk-text-lead">Profile</h3>
                </div>
                <div class="widjet__body">
                    <div class="user-info">
                        <div class="user-info__box">
                            <div class="user-info__title">{{user.first_name}} {{user.last_name}}</div>
                            {% comment %} {% for user_data in user_data %} {% endcomment %}
                            <div class="user-info__text">Username: {{user.username}}</div>
                            {% comment %} {% endfor %} {% endcomment %}
                        </div>
                    {% comment %} </div><a class="uk-button uk-button-danger" href="04_profile.html"><i class="ico_edit"></i><span class="uk-margin-small-left">Edit Profile</span></a> {% endcomment %}
                </div>
            </div>
            <br>

            <div class="widjet --bio">
                <div class="widjet__head">
                    <h3 class="uk-text-lead">Bio</h3>
                </div>
                <div class="widjet__body">
                    <span>Email: {{user.email}} </span>
                    <span>Age: {{user.Age}}</span>
                    <span>City: {{user.city}} </span>
                    
                    <span>PhoneNumber: {{user.PhoneNumber}}</span>                    
                
                
                </div>
                
            </div>
            <div class="widjet --activity">
                <div class="widjet__head">
                    <h3 class="uk-text-lead">Recent Orders</h3><a href="{% url 'cart_and_orders:yourorders' %}">View All</a>
                </div>
                {% for user_codes in user_codes %}
                <div class="widjet__body">
                    
                    <div class="widjet-game">
                        
                        <div class="widjet-game__media"><a><img src="{{user_codes.codeCategory.image.url}}" alt="image"></a></div>
                        <div class="widjet-game__info"><a class="widjet-game__title"> {{user_codes.code}}</a>
                            <div class="widjet-game__record">{{user_codes.codeCategory.codeCategory}}</div>
                            <div class="widjet-game__last-played">{{user_codes.created}}</div>
                        </div>
                    </div>
                    
                    
                </div>
                {% endfor %}

            </div>
        </div>
        
    </div>
</main>


{% endblock content %}