{% extends 'base.html' %}

{% load static %}

{% block content %}

<main class="page-main">
    <ul class="uk-breadcrumb">
     
        <li><a href="/"><span data-uk-icon="chevron-left"></span><span>Back to Store</span></a></li>
        {% for codeCategories in codeCategories %}
        <li><span>{{codeCategories.codeCategory}}</span></li>
        {% endfor %}
    </ul>
    {% for codeCategories in codeCategories %}
    <h3 class="uk-text-lead">{{codeCategories.codeCategory}}</h3>
    {% endfor %}
    <br><br><br>
    <div class="uk-grid uk-grid-small" data-uk-grid>
        <div class="uk-width-2-3@s">
            <div class="gallery">
                    <div class="swiper">
                        {% for codeCategories in codeCategories %}
                        {% comment %} <div class="swiper-wrapper"> {% endcomment %}
                            <div class="swiper"><img src="{{codeCategories.game.background_image.url}}" alt="image"></div>
      

                        {% comment %} </div> {% endcomment %}
                        {% endfor %}
                    <div class="news-feed news-feed-post">


                            <h4 class="post-name">How to use the codes 🧐 </h4>
                            <div class="post-body">
                                <p>Dolore magna aliqua quis nostrud exercitation consequat. 
                                <br>Duis aute irure do lorin reprehendert sed ipsum nulla pariatur officia deserunt mollit anim id est laborum.<br>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
                
                
                
                            </div>
                    </div>
                        
                    </div>
                    
            </div>
            
        </div>
       


        <div class="uk-width-1-3@s">
            <div class="game-profile-card">
                {% for codeCategories in codeCategories %}
                <div class="game-profile-card__media"><img src="{{codeCategories.game.profile_image.url}}" alt="game-profile-card"></div>
             
                <div class="game-profile-card__intro"><span>{{codeCategories.description}}.</span></div>
             
                <ul class="game-profile-card__list">
             
                    <li>
                        <div>Release date:</div>
                        <div>{{codeCategories.created}}</div>
                    </li>
                    <li>
                        <div>Platforms:</div>
                        <div class="game-card__platform"><i class="ico_windows"></i><i class="ico_apple"></i></div>
                    </li>
                </ul>
                
                <ul class="game-profile-card__type">
                    <li><span>{{codeCategories.game}}</span></li>
             
                </ul>
               
            </div>

            {% comment %} {% if user.is_authenticated %} {% endcomment %}
            
            <div class="game-profile-price" >
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li> {{ message }} </li>
                    {% endfor %}
                    <br>
                </ul>
                
                {% endif %}
                <div class="uk-margin">
                    <form method = "POST">
                        {% csrf_token %}
                    QTY: <input class="uk-input-qty"  min="1" max="10"  name="Quantity" id="Quantity" onkeypress="return /[0-9]/i.test(event.key)" value = "1" placeholder="Quantity" required>
                </div> 
            </div>
            <div class="game-profile-price">
                <div class="game-profile-price__value">${{codeCategories.price}} USD</div><a> <button class="uk-button uk-button-danger uk-width-1-1" type="submit"><span class="ico_shopping-cart"></span><span>Add to Cart</span></button></a>
            </div>
            {% comment %} {% else %} {% endcomment %}
            {% comment %} <div class="game-profile-price">
                <div class="game-profile-price__value">${{codeCategories.price}} USD</div><a href = "{% url 'Register_Login:login' %}"> <button class="uk-button uk-button-danger uk-width-1-1" type="button"><span class="ico_shopping-cart"></span><span>Add to Cart</span></button></a>
            </div> {% endcomment %}
            {% comment %} {% endif %} {% endcomment %}
            
            {% endfor %}
        </div>
    </div>
</main>


{% endblock content %}