{% extends 'base.html' %}
{% block content %}


            <main class="page-main">
                <div class="uk-grid" data-uk-grid>
                    <div class="uk-width-3-3@l">
                        <div class="widjet --filters">
                            <div class="widjet__head">
                                {% for code_categories in code_categories %}
                                <h3 class="uk-text-lead">{{code_categories.game.gameName}}'s codes </h3>
                                {% endfor %}
                            </div>
                
                        </div>
                        <div class="group-row">
                            {% for code_categories in code_categories %}
                            <ul id="youzify-groups-list" class="item-list">
                                <li class="group-has-avatar youzify-show-cover">
                                    <div class="youzify-group-data">
                                        <div class="youzify-cover"><img alt="group" src="{{code_categories.image.url}}"></div>
                                        <a href="04_profile.html" class="item-avatar">
                                        </a>
                                        <div class="item">
                                            <div class="item-title"><a href="{{code_categories.get_absolute_url}}" class="bp-group-home-link season-of-the-witch-home-link">{{code_categories.codeCategory}}</a></div>
                                            <div class="item-meta">
                                                <div class="group-status"> <i class="fas-fa-globe-asia"></i></div>
                                            </div>
                                            <div class="game-card__genre">{{code_categories.description}}</div>

                                        </div>
                                        <div class="game-card__users">
                                            
                                        </div>
                                        <div class="action">
                                            <div class="group-button public generic-button"><a href="{{code_categories.get_absolute_url}}" class="group-button leave-group">View Card</a></div>
                                        </div>

                                    </div>
                                </li>

                            </ul>
                            {% endfor %}
                        </div>
                    </div>


                </div>
            </main>
        </div>
    </div>
{% endblock content %}