{% extends 'base.html' %}
{% block content %}


            <main class="page-main">
                <div class="uk-grid" data-uk-grid>
                    <div class="uk-width-3-3@l">

                        <div class="widjet --filters">
                            <br><br><br>
                            <div class="widjet__head">
                                
                                <h3 class="uk-text-lead">Your Search Result on Card " {{searched}}" </h3>
                            </div>
                
                        </div>
                        <div class="group-row">
                            {% if searching %}
                            {% for searching in searching %}
                            <ul id="youzify-groups-list" class="item-list">
                                <li class="group-has-avatar youzify-show-cover">
                                    <div class="youzify-group-data">
                                        <div class="youzify-cover-content">  <a href="{{searching.get_absolute_url}}"><img alt="group" src="{{searching.image.url}}"></a></div>
                                       <br><br><br>
                                        <div class="item">
                                            <div class="item-title"><a href="{{searching.get_absolute_url}}" class="bp-group-home-link season-of-the-witch-home-link">{{searching.codeCategory}}</a></div>
                                            <div class="item-meta">
                                                <div class="group-status"> <i class="fas-fa-globe-asia"></i></div>
                                            </div>
                                            <div class="game-card__genre">{{searching.description}}</div>
                                            <div class="game-card__price"><span>{{searching.price}} EGP </span></div>

                                        </div>
                                        <div class="game-card__users">
                                            
                                        </div>
                                    

                                    </div>
                                </li>

                            </ul>
                            {% empty %}
                            <h3 class="uk-text-lead">No Results for " {{searched}}" </h3>
                            {% endfor %}

                            {% elif GamingSearch %}

                            {% for GamingSearch in GamingSearch %}
                            <ul id="youzify-groups-list" class="item-list">
                                <li class="group-has-avatar youzify-show-cover">
                                    <div class="youzify-group-data">
                                        <div class="youzify-cover"><img alt="group" src="{{GamingSearch.background_image.url}}"></div>
                                        <a href="{{GamingSearch.get_absolute_url}}" class="item-avatar">
                                            <div class="youzify-group-avatar"><img class="avatar group-38-avatar avatar-100 photo lazyloaded" width="100" height="100" alt="Profile Photo" src="{{GamingSearch.profile_image.url}}"></div>
                                        </a>
                                        <div class="item">
                                            <div class="item-title"><a href="{{GamingSearch.get_absolute_url}}" class="bp-group-home-link season-of-the-witch-home-link">{{GamingSearch.gameName}}</a></div>
                                            <div class="item-meta">
                                                <div class="group-status"> <i class="fas fa-globe-asia"></i></div>
                                            </div>
                                        </div>
                                        <div class="game-card__users">
                                            
                                        </div>
                                        <div class="action">
                                            <div class="group-button public generic-button"><a href="{{GamingSearch.get_absolute_url}}" class="group-button leave-group">View Packages</a></div>
                                        </div>

                                    </div>
                                </li>

                            </ul>

                            </ul>                           
                            {% endfor %}

                            {% else %}
                            <center> <h3 class="uk-text-lead">No Results for "{{searched}}"</h3></center>
                            {% endif %}

              
                        </div>
                        
                    </div>



                </div>
            </main>
 
{% endblock content %}